<%= content_for :title, "Contact" %>
<div id="contacts" class="panel row">
  <h1>Contact</h1>
  <p>A bunch of useful links.</p>
  <div class="bubbles">
    <% @info['social'].each do | net | %>
      <div class="bubblerow">
        <div class="td">
          <%= image_tag "webicons/webicon-#{net['net']}.svg" %>
        </div>
        <div class="td">
          <%= link_to net['account'], "#" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
