<%= content_for :title, "Contact" %>
<div class="panel row">
  <h1>Contact</h1>
  <ul>
    <li><a href="#" class="webicon facebook svg">Facebook</a>
    </li>
    <li><a href="#" class="webicon twitter svg">Twitter</a>
    </li>
    <li><a href="#" class="webicon google svg">Gmail</a>
    </li>
    <li><a href="#" class="webicon github svg">github</a>
    </li>
  </ul>
</div>
