<%= content_for :title, "Contact" %>
<div class="panel row">
  <h1>Contact</h1>
  <ul class="small-block-grid-4">
    <li><a href="#" class="webicon facebook svg"></a>
    </li>
    <li><a href="#" class="webicon twitter svg"></a>
    </li>
    <li><a href="#" class="webicon google svg"></a>
    </li>
    <li><a href="#" class="webicon github svg"></a>
    </li>
  </ul>
</div>
