<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <% content_for :title, "Welcome" %>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>Welcome</title>

    </head>
    <body>
      <!-- body content here -->
      <div class="row">
        <div class="small-10 large-10 large-centered small-centered columns" id="card">
          <div class="small-2 large-4 small-centered columns">
            <%= image_tag "Avatar.jpg", :alt => "avatar" %>
          </div>
          <div class="small-12 large-8 columns">
            <h1>Hello!</h1>
            <p> I am <b>Noric Couderc</b>, a <%= Date.today.year - 1991 %> years old IT student, and this is my portfolio.
            Feel free to check my <%= link_to "Experiments", controller: "experiments"%>, my <a href="#">Curriculum Vitae</a>
            or try to <a href="#">contact me</a>
            </p>
          </div>
        </div>
      </div>
    </body>
  </html>
