// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #129944;
$bubble-radius: 50px;
$text-color:#ccc;
h1 {

}
h1:hover {
  /*  background-color:$primary-color; */
}

h2 {
  background-color:#111;
  padding:10px;
  border-left:solid 5px $primary-color;
}

h2:hover {

}

#header {

}

img.centered {
  // center image \o/
  display:block;
  margin: 0 auto;
}

ul {
  list-style-type:none;
}

div.experience {
  .expheader {
    i {
      position:relative;
      top:-0.5em;
      opacity: 0.3;
    }
  }
  .expbody {
    line-height:1em;
    margin: 0px 10px 0 10px
  }
}



.bubbles {
  margin: auto;
  display:table;
}

.bubblerow {
  display:table-row;
  height:75px;
  min-width:150px;
}
.bubblerow:hover {
  div img,.flag {
    z-index:1;
    transform:rotate(-35deg);
  }

  div a,strong {
    opacity:1;
    padding:10px;
  }
}

.flag{
  display:block;
  width:$bubble-radius;
  height:$bubble-radius;
  border-radius:50%;
  background-size:cover;
  background-position:center center;
}

.td {
  display:table-cell;
  vertical-align:middle;


  div {
    transition-duration:1s;    
  }

  img {
    width:$bubble-radius;
    height:$bubble-radius;
    border-radius:50%;
    transition-duration:1s;    
  }

  strong {
    opacity:0;
    margin-left:10px;
    transition-duration:1s;
  }

  a {
    font-size:200%;
    margin-left:10px;
    opacity:0;
    transition-duration:1s;
  }
}
